<header class="header">
    <h1>
        <%= title%>
    </h1>

    <ul class="navbar">
        <li>
            <a href="/">Página Inicial</a>
        </li>

        <li>
            <a href="/formulario">Cadastrar Usuário</a>
        </li>

        <li>
            <a href="/list">Listar Usuário</a>
        </li>
    </ul>

</header>